#pragma once 

namespace {{namespace}} {
    
    {%- if model.accuracy is not none %}
    
    #define REF_ACCURACY {{model.accuracy}}
    {% endif %}

    #define N_CLASSES {{model.n_classes}}
    #define N_FEATURES {{model.n_features}}

    std::tuple<float,
    {%- for i in range(out_layer_id) -%}
    float,
    {%- endfor -%}
    {%- for i in range(out_layer_id) -%}
    float{%- if i != out_layer_id-1 -%},{%- endif -%}
    {%- endfor -%}
    >
    // void
    predict_{{ model.name }}({{ feature_type }} const * const x, {{ label_type }} * pred);
}