#include <stdio.h>
#include <iostream>
#include <fstream>
#include <tuple>
#include <chrono>

#include "cuda_kernel.h"
#include "{{out_name}}W.hpp"
#include "utils.cuh"

// TODO add code here

{{ cuda_code_predict }}